.posts__item {
    border: 1px solid #bfbfbf;
    padding: 10px 20px;
    background: white;
    border-radius: 40px 0px;
    word-wrap: break-word;
}

.posts__item:not(:last-child) {
    margin-bottom: 15px;
}

.post-count {
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 5px;
    color: #e0431e;
}