.profile {
    height: 100%;
    padding: 15px 20px;
    width: 75%;
    background: #f2f2f2;
}

.container-profile {
    width: 100%;
}

@media (max-width:425px) {
    .sidebar {
        display: none;
    }

    .profile {
        width: 100%;
    }
}