.header {
    background: var(--bgColor);
    width: 100%;
}

.header__list {
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__item-name {
    font-size: 40px;
    line-height: 150%;
    font-weight: 600;
    color: var(--textColor);
}

.header__item-name span {
    color: var(--textColorActive);
}