.sidebar {
    width: 20%;
    min-height: 60vh;
    background: var(--bgColor);
    border-radius: var(--borderRadius);
}

.sidebar__container {
    padding: 15px 20px;
    border-radius: var(--borderRadius);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__item {
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 20px;
}

.menu__item span {
    color: var(--textColor);
}

.sidebar .menu__item .active span {
    font-weight: 500;
    color: var(--textColorActive);
    border-bottom: 1px solid black;
}

.sidebar .menu__item span:hover {
    color: #ad381c;
}