* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-page {}

.container-main {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}